/*######################################*/
/*RESET ################################*/
/*######################################*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,hr,th,td {
	margin:0; 
	padding:0;
}





/*######################################*/
/*TYPOGRAPHY ###########################*/
/*######################################*/

	@font-face {
    font-family: 'AMG Anahit';
    src: local('Anahit Regular'), local('Anahit-Regular'), url('../font-awesome/fonts/anahit/anahit-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;}



/*@import "http://webfonts.ru/import/pacifico.css";

@font-face{ 
	font-family: 'Lane';
	src: url('fonts/LANENAR_-webfont.eot');
	src: url('fonts/LANENAR_-webfont.eot?iefix') format('eot'),
	     url('fonts/LANENAR_-webfont.woff') format('woff'),
	     url('fonts/LANENAR_-webfont.ttf') format('truetype'),
	     url('fonts/LANENAR_-webfont.svg#webfont') format('svg');
}*/

html {
	-webkit-font-smoothing: antialiased;
}

html {
	font-size: 100%;
}

p {
    font-size: 1rem;
	line-height: 1.625em;
    font-family: 'AMG Anahit', sans-serif;
    font-weight: 300;
}

a {
    font-size: 1em;
	line-height: 1.625rem;
    font-family: 'AMG Anahit', sans-serif;
    font-weight: 600;
    text-decoration:none;
}

a:hover {
    text-decoration:none;
}

    

h1,h2,h3 {
    font-family: 'AMG Anahit', sans-serif;
    font-weight: normal;
}

h1 {
    font-size:25pt;
    line-height:3.5rem;
}

h2 {
    font-size:2.5rem;
    line-height:2.3rem;
    margin-bottom:1.7rem;
}

h3 {
    font-size:1.7rem;
    line-height:2.25rem;
}

h4 {
    font-family: 'AMG Anahit', sans-serif;
    font-size:1rem;
    line-height: 1.625rem;
    font-weight:600;
}

h5 {
    font-family: 'AMG Anahit', sans-serif;
    font-size:0.8125rem;
    line-height: 1rem;
    font-weight:300;
    color:white;
    text-transform:uppercase;
}

ul {
    list-style:none
}

li {
    margin-top:1.625em;
}

li a {
    display:inline;
}

hr {
    margin-top:4.568em;
    margin-bottom:4.568em;
}





/*######################################*/
/*BUTTONS ############################*/
/*######################################*/
.scrollto p {
    margin-bottom: 60px;
}


.btn-lg {

        line-height: 2.8;
        border: none;
}


.bat-11 {

       background-color: #0EAA97;
       line-height: 2.8;
       border: none;
       margin-left: 1rem;
}

.baton {

    margin: 1rem 0 2rem;
}


.cta1 {
    display:inline-block;
	color:white;
	font-family: 'AMG Anahit', sans-serif;
	font-size:1rem;
	font-weight:700;
	font-style:normal;
	padding:1rem;
    line-height:1rem;
    height: 67px;
	text-decoration:none;
	text-align:center;
    margin-left:0.625rem;
    margin-right:0.625rem;
    margin-top:20px;
    margin-bottom: 40px;
    letter-spacing:-0.03rem;
    -webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
}

.cta1:visited, .cta1:active {
    color:white;
    text-decoration:none;
}

.cta1:focus {
    outline:none;
    text-decoration:none;
    color:white;
}

.cta1:hover {
    color:white;
    -webkit-animation: pulse .5s;
    animation: pulse .5s;
    opacity:0.9;
}

.cta2 {
    display:inline-block;
	color:white;
	font-family: 'AMG Anahit', sans-serif;
	font-size:1rem;
	font-weight:700;
	font-style:normal;
	padding-top:1rem;
    padding-bottom:1.1rem;
	width:9.375rem;
    line-height:1rem;
	text-decoration:none;
	text-align:center;
    margin-left:0.625rem;
    margin-right:0.625rem;
    margin-top:1.4rem;
    letter-spacing:-0.03rem;
    -webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
    opacity:1;
}

.cta2:visited, .cta2:active {
    color:white;
    text-decoration:none;
}

.cta2:focus {
    outline:none;
    text-decoration:none;
    color:white;
}

.cta2:hover {
    color:white;
    opacity:0.9;
    -webkit-animation: pulse .5s;
    animation: pulse .5s;
}





/*######################################*/
/*PRELOADER ############################*/
/*######################################*/

#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
    width:100%;
    height:100%;
	background-color:#fff; 
    z-index:9999; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/* Loading animation: */

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}





/*#######################################*/


/* Template styles */


/*######################################*/
/*HOME #################################*/
/*######################################*/

body {
  height: 100%;
  width: 100%;
}

#home {
    position:relative;
    z-index:0;
    overflow:hidden;
    background: #321E36 url(../img/bg___bu1.jpg) no-repeat center;
   /* background: #321E36;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home_image {
    position:absolute;
    top:13rem;
    right:0;
    z-index:0;
}

#homescreen {
    text-align:left;

}

#home_content {
    text-align:left;
}

#logo {
    margin-top: 100px;
    margin-bottom: 0.4rem;
    opacity:1;
}

#logo h1 a{
    font: normal 68pt 'AMG Anahit',arial,sans-serif;
    font-weight: 100;
    color: #fff;
    
}


.navbar-header a {
font-family: 'AMG Anahit';
font-weight: 100;
color: #A2A2A2;
font-size: 24px;
margin: -10px 0;
}


.navbar-header a:hover {

color: #0EAA97;

}




#logo_header {
    margin-bottom:4.3rem
}

#slogan {
    color:white;
    margin:0px;
    pading:0px;
    opacity:0;
    position:relative;
    z-index:1;
}

#slogan h1{
        line-height: 1;
        padding: 0 0 10px;     
    }

    #slogan p{
        line-height: 1.4;
        padding: 0px 0 20px;     
    }

.cta1, .cta2 {
    position:relative;
    z-index:1;
    margin-left:0;
}

#logo, #logo_header, #slogan, #home_image {
    opacity:0;
}




/*######################################*/
/*ABOUT ################################*/
/*######################################*/

#about {
    padding-top:6.5rem;
    padding-bottom:6.5rem;
    background:white;
    position:relative;
    display:block;
    z-index:20;
    text-align:center;
}

#about_intro {
    opacity:0;
}

.services_icon {
    width:4rem;
    height:4rem;
    margin-top:6.5rem;
    margin-bottom:1.625rem;
}



#about_intro, #service_1, #service_2, #service_3  {opacity:0;}


/*######################################*/
/*ARROWS and SEPARATOR #################*/
/*######################################*/

.arrows_box {
    width:100%;
    height:1.5rem;
    position: relative;
    border-bottom: solid 1px #f0f0f0;
    margin-top: -1.2rem;
}

.arrows_box_bg {
    margin-top:-1.45rem;
    background:none;
}

.arrows_no_border {
    border-bottom:none;
}

.arrows {
    display:inline;
    left:50%;
    margin-bottom:1.5rem;
    margin-left:-3.1rem;
    position:relative;
    z-index:999;
}

.arrow_single {
    display:inline;
    left:50%;
    margin-bottom:1.5rem;
    margin-left:-1.55rem;
    position:relative;
    z-index:999;
}

.arrow_down {
    margin:0;
    width: 3rem;
    height: 3rem;
    padding:0.2rem;
    background-color:white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    transform:rotate(89deg);
    -webkit-transform:rotate(89deg);
    -moz-transform:rotate(89deg);
    -o-transform:rotate(89deg);
    -ms-transform:rotate(89deg);
    ms-transform:rotate(89deg);
}

.arrow_up {
    margin:0;
    width: 3rem;
    height: 3rem;
    padding:0.2rem;
    background-color:white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    transform:rotate(89deg);
    -webkit-transform:rotate(89deg);
    -moz-transform:rotate(89deg);
    -o-transform:rotate(89deg);
    -ms-transform:rotate(89deg);
    ms-transform:rotate(89deg);
}

.arrow_down:hover, .arrow_up:hover {
    cursor: pointer;
}





/*######################################*/
/*FEATURES 1 ###########################*/
/*######################################*/

#features_1 {
    margin:0px;
    padding-top:3.25rem;
    padding-bottom:3.25rem;
    background:#F7F8FA;
    position:relative;
    display:block;
    z-index:20;
    text-align:left;
}

#features_1_content {
    padding-top:3rem;
}

.feature {
    margin-top:2rem;
}

.feature_icon {
    width:2rem;
    height:2rem;
    float:left;
    margin-right:2rem;
    margin-top:0.5rem;
    margin-bottom:3rem;
}

.image_front {
    position:absolute;
    left:0;
    top:0;
    z-index:30;
}

.image_back {
    position:relative;
    left:0;
    top:0;
    z-index:29;
}


#features_1_content, #features1a_image, #features1b_image {opacity:0;}


/*######################################*/
/*FEATURES 2 ###########################*/
/*######################################*/

#features_2 {
    margin:0px;
    padding-top:3.25rem;
    padding-bottom:3.25rem;
    background:white;
    position:relative;
    display:block;
    z-index:20;
    text-align:left;
}

#features_2_content {
    padding-top:3rem;
}


#features_2_content, #features2a_image, #features2b_image {opacity:0;}



/*######################################*/
/*FEATURES 3 ###########################*/
/*######################################*/

#features_3 {
    margin:0px;
    padding-top:6.5rem;
    padding-bottom:0rem;
    /*height: 92rem;*/
    background:white;
    position:relative;
    display:block;
    z-index:20;
    text-align:left;
    overflow:hidden;
}

#features_3_intro {
    text-align:left;
    margin-bottom:1.625rem;
}

#features_3_content_left {
    text-align:right;
    padding-right:2rem;
    padding-bottom:6.5rem;
}

#features_3_content_right {
    text-align:left;
    padding-left:2rem;
    padding-bottom:6.5rem;
}

#features_3_content_center img{
    overflow:hidden;
}


#features_3_intro, #features_3_content_left, #features_3_content_right, #features_3_content_center {opacity:0;}



/*######################################*/
/*GALLERY ##############################*/
/*######################################*/

#gallery {
    margin:0px;
    padding-top:6.5rem;
    padding-bottom:6.5rem;
    background:white;
    position:relative;
    display:block;
    z-index:100;
    text-align:center;
    background-color:white;
}

#owl-gallery {
    margin-top: 3.4rem;
}

.item {
    margin: 1rem;
}

.item img {
    display: block;
    width: 100%;
    height: auto;
}

.item a:hover {
    cursor: url(img/cursor.png), auto;
}

.item a:hover img{
    opacity:0.8;
    -webkit-animation: pulse .5s;
    animation: pulse .5s;
}



#gallery_intro, #gallery_carousel {opacity:0;}


/*######################################*/
/*NEWSLETTER ###########################*/
/*######################################*/

#footer {
    padding-top:5.4rem;
    padding-bottom:6.5rem;
    position:relative;
    display:block;
    z-index:100;
    text-align:center;
}

#footer h2 {
    color:white;
}

#footer p {
    color:white;
    font-size: 1em;
}

/* Newsletter Form */

#newsletter_form {
    margin-top:1.625rem;
    height: 3.25rem;
}

.subscribe-form {
    margin-left:auto;
    margin-right:auto;
    width:28.75rem;
    position: relative;
    z-index:10;
}

.subscribe-input {
    float:left;
    padding-left: 1.2rem;
    padding-top: 0.1rem;
    width:21.875rem;
    height: 3.25rem;
    font-family: 'AMG Anahit','Source Sans Pro', sans-serif;
    font-size:1rem;
    font-weight:300;
    color: #000;
    background: #FFF7D7;
    border:none;
}

.subscribe-input:focus {
    outline: 0;
}

.subscribe-submit {
    color:white;
	font-family: 'AMG Anahit','Source Sans Pro', sans-serif;
	font-size:1rem;
	font-weight:600;
	font-style:normal;
    height:3.25rem;
    width:8rem;
    line-height:1rem;
	text-decoration:none;
	text-align:center;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    border:none;
    cursor: pointer;
    color:white;
    outline: 0;
}

.subscribe-submit:active {
    outline: 0;
}

.subscribe-submit:hover {
    opacity:0.8
}

#preview {
    width:28.6rem;
    height: 3.25rem;
    border-radius: 10px;
    border:none;
    margin-left:auto;
    margin-right:auto;
    margin-top:-3.25rem;
    padding:1.1rem;
    color:black;
    z-index:5;
    -webkit-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

#preview p {
    margin:0;
    line-height:1rem;
    font-weight:600;
    color: black;
}

/* Icons */

.fa{
width: 2rem;
height: 2rem;
float: left;
margin-right: 2rem;
margin-top: 0.5rem;
margin-bottom: 3rem;
}


figure {
margin: 0;
width: 3rem;
height: 3rem;
padding: 0.9rem;
border-radius: 50%;
text-align: center;
margin-bottom: 5rem;
border: 2px solid #0EAA97;
}

.left{
    float: right;
    margin-left: 1rem;
}

.right {
    float: left;
    margin-right: 1rem;
}

figure .fa {
width: auto;
height: auto;
float: none;
margin: 0 auto;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding: 0;
vertical-align: middle;
color: #0EAA97;
}

#footer ul li {

display: inline-block;
margin: 4.625em 0.3rem;

}

#footer ul li i{

display: inline-block;
font-family: FontAwesome;
font-style: normal !important;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}

#footer ul li a{
color: #fff;
opacity: 0.5;
}


#footer ul li a:hover{
color: #fff;
opacity: 1;

}


/* navbar */


nav {
background: #FFF;
border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
height: 60px;
padding: 10px 0 20px 0;
position: fixed;
z-index: 9000 !important;
}


ul.nav li {
border: 2px solid rgba(255, 255, 255, 0);
margin-left: 15px;
padding: 7px 15px;
margin-top: 0em;
}


ul.nav li:hover, ul.nav li:focus, ul.nav li.active {
/*border: 2px solid #333;*/
background:#FFEEAB;
}


ul.nav li a {
color: #292D30;
font-size: 12px;
font-weight: 600;
padding: 0;
text-transform: uppercase;
}


a, ul.nav a, a.button, ul.download-icon a, fieldset.contact-form .submit {
transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
-webkit-transition: all .3s ease-out;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}


@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
}
.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-form.navbar-right:last-child {
    margin-right: -15px;
  }
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}
.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
  .navbar-text.navbar-right:last-child {
    margin-right: 0;
  }
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777;
}
.navbar-default .navbar-link:hover {
  color: #333;
}
.navbar-default .btn-link {
  color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}
.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #777;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #777;
}
.navbar-inverse .navbar-nav > li > a {
  color: #777;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #777;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
.navbar-inverse .btn-link {
  color: #777;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #fff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}
img.soc-link {
  max-width: 40px;
  border: 0px;
  margin: 10px;
}
/* youtube block */
.video-wrapper {
  display: flex;
  flex-direction: row;
}
.video {
  aspect-ratio: 16 / 9;
  width: 50%;
  margin: 10px;
}
@media (max-width: 900px) {
  .video-wrapper {
    display: flex;
    flex-direction: column;
  }
  .video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
}
/* Partners block */
.partners-wrapper {
  display: flex;
  flex-direction: row;
}
.partner {
  height: 200px;
  width: 200px;
  cursor: pointer;
  margin: 0 auto;
  line-height: 200px;
}
.partner img {
  max-width: 100%;
  max-height: 100%;
}
.partner.partner-large {
  min-height: 300px;
  min-width: 300px;
  text-align: center;
  line-height: 400px;
}
@media (max-width: 900px) {
  .partners-wrapper {
    flex-direction: column;
  }
  .partner, .partner.partner-large {
    height: 200px;
    width: 200px;
    line-height: 0px;
  }
}